.header {
    background-color: #fff;
    margin: auto -16px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    
}

.header > img {
    margin-left: 4rem;
    
    width: 2.6rem;
    height: 2.6rem;
}

.header > span {
    color: #5F6368;
    position: relative;
    font-size: 22px;
    top: -10px;
    font-weight: 600;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
}